$small-device: "all and (max-width: 414px)";
.cont{
    display: flex;
    flex-direction: column;

    hr{
        margin-top: 6px;
        border-color: #55ff99;
        margin-bottom: 12px;
    }

    .content{
        font-family: Arial, Helvetica, sans-serif;
        height: 450px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @media #{$small-device}{
            img{
            width: 120px !important;
            }
            h1{
                font-size: 30px !important;
            }
            h2{
                font-size: 20px !important;
            }
            p{
                font-size: 15px !important;
            }
        }

        button{
            margin: 0 10px 0 0;
            background-color: #55ff99;
            padding: 5px;
            border-radius: 5px;
            border: 0px;
            margin-top: 5px;
            cursor: pointer;
            color: #2b864f;
            &:hover{
                opacity: 0.8;
                transition: 0.2ms;
            }
        }
    }
    .content p{
        margin-top: 5px;
        color: rgb(41, 41, 41);
        font-size: 14px;
    }
    .content strong{
        color: #55ff99;    
    }
}

.box{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    
    padding: 0 25px 0 25px;

    h2{
        font-size: 30px;
    }
    p{
        font-size: 20px;
    }
}
.box h1{
    font-size: 70px;
}
.content img{
    border-radius: 15px;
    background: linear-gradient(#55ff99, #2cb649);
    width: 220px;
    transform: 0.5s;

}

.text-box{
    margin-left: 10px;
    align-items: center;
}

.social-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    ul li{
        margin-top: 60px;
        padding: 0 50px 0 50px;
        font-size: 15px;
        display: inline-block;
        font-weight: bolder;
        cursor: pointer;
    }
    @media #{$small-device}{
        ul li{
            margin-top: 25px;
            padding: 0 10px 0 10px;
            font-size: 15px;
            display: inline-block;
            font-weight: bolder;
            cursor: pointer;
        }
    }
    ul li:hover{
        background-color: #2cb649;
        opacity: 0.8;
        transition: 0.5s;
    }
}

.content-buttom{
    border-radius: 150px;
    padding: 15px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    @media #{$small-device}{
        overflow: scroll;
        img{
            margin-left: 10px;
        }
    }
    img{
        width: 100%;
    }
}

.circulo{
    cursor: pointer;
    border-radius: 50%;
    width: 80px !important;
    height: 80px !important;
    &:hover{
        border: 3px solid #41db72;
        transition: 0.9ms;
    }
}

.arrow-left{
    width: 100px;
    cursor: pointer;
}
  
.arrow-area{
    width: 1152px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: flex-end;
}